---
title: Play Game
description: Olympiad Online Test
---
<div class="mobile-slide">
	<div class="slide-header">
	  <!--navbar-hamburger-->
      <button type="button" id="game-hamburger-close" class="navbar-hamburger">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--//navbar-hamburger-->
	</div>
	<div class="date-point">
	  <div class="col-md-4">
		<div class="date">HƏFTƏ</div>
		<div class="point"><h6>XAL</h6><h4>20</h4></div>
	  </div>
	  <div class="col-md-4">
		<div class="date">AY</div>
		<div class="point"><h6>XAL</h6><h4>200</h4></div>
	  </div>
	  <div class="col-md-4">
		<div class="date">YEKUN</div>
		<div class="point"><h6>XAL</h6><h4>450</h4></div>
	  </div>
	</div>
	
	<!--history button-->
	<div class="history">
	  <span>Tarixçə</span>
	</div>
	<!--//history button-->
	
	<!--audio section-->
	<div class="audio">
	  <div>
		<div class="play">
		  <a role="button" class="audio-player-button play-button">
			<i class="fa fa-play" aria-hidden="true"></i>
		  </a>
		  <a role="button" class="audio-player-button pause-button">
			<i class="fa fa-pause" aria-hidden="true"></i>
		  </a>
		  <div class="drop"></div>
			<audio id="song" autoplay="true"  src="../../static/olimpiad/mp3/1.mp3"></audio>
			<div class="volume">
				<span class="volume-progress-bar"></span>
		  </div>
		</div>
	  </div>
	  <div>
		<div>
		  <div class="mute">
			<i class="fa fa-volume-up" aria-hidden="true"></i>
			<div class="mute-drop"></div>
		  </div>
		</div>
	  </div>
	</div>
	<!--//audio section-->
</div>

<section class="main dashboard">

  <div class="container-fluid">
    <div class="row layout">
      <!--navbar-hamburger-->
      <button type="button" id="game-hamburger-btn" class="navbar-hamburger">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--//navbar-hamburger-->
      <!--==================first column==================-->
      <div class="col-xs-12 col-sm-12 col-md-3 left-side">
        <!-- user section-->
        <div class="col-xs-6 col-sm-6 col-md-12 padd-0">
          <div class="user-section">
            <div class="user">
              <div class="user-icon">
                <img src="" alt="">
              </div>
              <div class="user-name">
                <span>Ramin</br>Qurbanov</span>
              </div>
            </div>

            <div class="share-section">
              <a class="tooltips" href="#">
              	<i class="fa fa-info-circle" aria-hidden="true"></i>
				  <span><div>Dostlarını dəvət et</div></br>1. Əlavə oyun haqqı qazanmaq üçün 5 dostunu dəvət et.</br></br>2. Dostlarını mobildən tag edərək, desktopdan isə mesaj göndərərək dəvət edə bilərsən.</br></br>3. Əlavə oyun haqqı hər bir istifadəçiyə gün ərzində yalnız 1 dəfə verilir.</span>
              </a>
			  <div class="share">
              	<img src="../../static/olimpiad/img/share.png" alt="">
			  </div>
            </div>
          </div>
        </div>
        <!--//user section-->
        
        <!--game number-->
        <div class="col-md-12 dashboard-game">
          <span>3 oyun haqqı qaldı</span>
        </div>
        <!--//game number-->
        
        <!--history button-->
        <div class="col-md-12 history">
          <span>Tarixçə</span>
        </div>
        <!--//history button-->
        
        <!--date-point section-->
        <div class="col-md-12 date-point">
          <div class="col-md-4">
            <div class="date">HƏFTƏ</div>
            <div class="point"><h6>XAL</h6><h4>20</h4></div>
          </div>
          <div class="col-md-4">
            <div class="date">AY</div>
            <div class="point"><h6>XAL</h6><h4>200<h4></div>
          </div>
          <div class="col-md-4">
            <div class="date">YEKUN</div>
            <div class="point"><h6>XAL</h6><h4>450<h4></div>
          </div>
        </div>
        <!--//date-point section-->
        
        <!--audio section-->
        <div class="col-md-12 audio">
          <div class="col-md-9 padd-0">
            <div class="play col-md-12">
              <a role="button" class="audio-player-button play-button">
                <i class="fa fa-play" aria-hidden="true"></i>
              </a>
              <a role="button" class="audio-player-button pause-button">
                <i class="fa fa-pause" aria-hidden="true"></i>
              </a>
              <div class="drop"></div>
                <audio id="song" autoplay="true"  src="../../static/olimpiad/mp3/1.mp3"></audio>
                <div class="volume">
                    <span class="volume-progress-bar"></span>
              </div>
            </div>
          </div>
          <div class="col-md-3 padd-0">
            <div class="col-md-12 padd-0">
              <div class="mute">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
                <div class="mute-drop"></div>
              </div>
            </div>
          </div>
        </div>
        <!--//audio section-->
      </div>
      <!--==================//first column==================-->
      
      <!--===============middle column===============-->
      <div class="col-xs-12 col-sm-12 col-md-6">    
        
        <!--dashboard section-->
        <div class="col-xs-12 col-sm-12 col-md-12 clearfix">
          <div class="col-md-12">
            <div class="dashboard-title">
              <span>Facebook dostlarının oyun nəticələri</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="dashboard-body">
              {{#times 10}}
                <div class="col-md-6">
                  <div class="dash-user-photo">
                    <img src="" alt="">
                  </div>
                  <span>Ad soyad</span>
                </div>
               {{/times}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="dashboard-btn">
              <span>Oyuna başla</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="dashboard-btn">
              <span>Ana səhifə</span>
            </div>
          </div>
        </div>
        <!--//Dashboard section-->
      </div>
      <!--===============//middle column===============-->
      
      <!--==================right column==================-->
      <div class="col-xs-12 col-sm-12  col-md-3 right-section">
       
       <!--date-point section-->
        <div class="col-md-12 date-point">
          <div class="col-md-3 col-md-offset-3">
            <div class="date week">Həftə</div>
          </div>
          <div class="col-md-3">
            <div class="date month">Ay</div>
          </div>
          <div class="col-md-3">
            <div class="date result">Yekun</div>
          </div>
        </div>
        <!--//date-point section-->
        
        <!--ratings table-->
        <div class="col-md-12 ratings week-table">
         {{#times 10}}
          <div class="col-md-9 col-md-offset-3 leader">
              <span class="point-hov">255 - 36:12</span>
              <span>Əhməd Rəsul</span>  
              <div class="rating-image">
                <img src="" alt="">
              </div>       
          </div>
          {{/times}}
        </div>
        
        <div class="col-md-12 ratings month-table">
         {{#times 10}}
          <div class="col-md-9 col-md-offset-3 leader">
              <span class="point-hov">255 - 36:12</span>
              <span>Ismayil Rehimli</span>  
              <div class="rating-image">
                <img src="" alt="">
              </div>       
          </div>
          {{/times}}
        </div>
        
        <div class="col-md-12 ratings result-table">
         {{#times 10}}
          <div class="col-md-9 col-md-offset-3 leader">
              <span class="point-hov">255 - 36:12</span>
              <span>Munis Isazade</span>  
              <div class="rating-image">
                <img src="" alt="">
              </div>       
          </div>
          {{/times}}
        </div>
        <!--//ratings table-->
        
        <div class="col-md-12 exit">
          <div class="col-md-9 col-md-offset-3 exit-btn">
            <span>Oyundan çıxış</span>
          </div>
        </div>
      </div>
      <!--//==================right column==================-->
    </div>
  </div>
</section>