--- 
title: History 
description: Olympiad Online Test 
--- 
<section class="main history-main">
  <div class="container-fluid">
    <div class="row layout">
      <!--==================first column==================-->
      <div class="col-xs-12 col-sm-12 col-md-3 left-side">
        <!-- user section-->
        <div class="col-xs-6 col-sm-6 col-md-12 padd-0">
          <div class="user-section">
            <div class="user">
              <div class="user-icon">
                <img src="" alt="">
              </div>
              <div class="user-name">
                <span>Ramin</br>Qurbanov</span>
              </div>
            </div>
            <div class="share">
              <span>Dostunu dəvət et</span>
              <img src="../../static/olimpiad/img/share.png" alt="">
            </div>
          </div>
        </div>
        <!--//user section-->

        <!--audio section-->
        <div class="col-md-12 audio">
          <div class="col-md-9 padd-0">
            <div class="play col-md-12">
              <a role="button" class="audio-player-button play-button">
                <i class="fa fa-play" aria-hidden="true"></i>
              </a>
              <a role="button" class="audio-player-button pause-button">
                <i class="fa fa-pause" aria-hidden="true"></i>
              </a>
              <div class="drop"></div>
              <span id="song" song="le-calin.mp3"></span>
              <div class="volume">
                <span class="volume-progress-bar"></span>
              </div>
            </div>
          </div>
          <div class="col-md-3 padd-0">
            <div class="col-md-12 padd-0">
              <div class="mute">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
                <div class="mute-drop"></div>
              </div>
            </div>
          </div>
        </div>
        <!--//audio section-->
      </div>
      <!--==================//first column==================-->

      <!--===============middle column===============-->
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="row">
          <div class="history-items">



            <header class="hist-dates clearfix">
              {{#times 4}}
              <div class="col-md-3">
                <div class="history-date">Sentyabr</div>
              </div>
              {{/times}}
            </header>

            <section class="hist-body clearfix">
             
              <div class="days">
                {{#times 5}}
                <div class="days-btn">
                  1-7
                </div>
                {{/times}}
              </div>


              <div class="row history-row">
                {{#times 4}}
                <div class="col-md-3">
                  <div class="hist-body-item">
                    <div class="day clearfix">Bazar ertəsi</div>
                    <div class="point-time clearfix">
                      {{#times 3}}
                      <div>XAL:8</br>VAXT: 2:15</div>
                      {{/times}}
                    </div>
                  </div>
                </div>
                {{/times}}
              </div>

              <div class="row history-row">
                {{#times 3}}
                <div class="col-md-3">
                  <div class="hist-body-item">
                    <div class="day clearfix">Bazar ertəsi</div>
                    <div class="point-time clearfix">
                      {{#times 3}}
                      <div>XAL:8</br>VAXT: 2:15</div>
                      {{/times}}
                    </div>
                  </div>
                </div>
                {{/times}}
                <div class="col-md-3">
                  <div class="hist-body-item">
                    <div class="day clearfix">Bazar ertəsi</div>
                    <div class="point-time clearfix week-result">
                      <div>XAL:8</br>VAXT: 2:15</div>
                      <img src="/static/olimpiad/img/share.png" alt="">
                    </div>
                  </div>
                </div>
              </div>

            </section>

          </div>
        </div>
      </div>
      <!--===============//middle column===============-->

      <!--==================right column==================-->
      <div class="col-xs-12 col-sm-12  col-md-3 right-section">

        <div class="col-md-12 exit">
          <div class="col-md-9 col-md-offset-3 exit-btn">
            <span>Oyundan çıxış</span>
          </div>
        </div>

      </div>
      <!--//==================right column==================-->
    </div>
  </div>
</section>
