--- 
title: Home 
description: Olympiad Online Test 
---



<!--<div id="video"></div>-->
<section class="home-main">
  <div class="container-fluid">
    <div class="row">
      <div class="home-wrapper">
		{{> header}}

	    <div class="play_btn_container">
	 	 <div class="play-btn">
	 	   <a href="#">OYUNA BAŞLA</a>
	 	 </div>
	    </div>


        <div class="social-section">
          <ul>
            <li>
              <a href="">
                <div class="facebook"></div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="twitter"></div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="instagram"></div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="youtube"></div>
              </a>
            </li>
          </ul>
        </div>

      </div>






    </div>
  </div>
</section>
