---
title: Play Game
description: Olympiad Online Test
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=640814552760977";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<section class="main result-page">

   <div class="overlay">
           <div class="result_container col-xs-12">
               <div class="title pull-right">
                   <p>2 oyun haqqınız qaldı</p>
               </div>
               <div class="pull-left">
                  <a href="/"><i class="fa fa-times" aria-hidden="true"></i></a>
              </div>
               <img src="../../static/olimpiad/img/results_1.png" alt="" class="img-responsive">
               <div class="main-result">
                   <div>XAL:8</br>VAXT: 2:15</div>
               </div>
               <div class="bottom-container">
                   <div class="share_button pull-right"><div class="fb-share-button" data-href="http://mok25.az/results/" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmok25.az%2Fresults%2F&amp;src=sdkpreparse">Share on Facebook</a></div></div>
                   <div class="continue_button pull-left"><a href="">Davam etmək</a></div>
               </div>
           </div>

   </div>


  <div class="container-fluid overflow-hidden">
    <div class="row layout">
      <!--navbar-hamburger-->
      <button type="button" class="navbar-hamburger">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--//navbar-hamburger-->
      <!--==================first column==================-->
      <div class="col-xs-12 col-sm-12 col-md-3 left-side">
        <!-- user section-->
        <div class="col-xs-6 col-sm-6 col-md-12 padd-0">
          <div class="user-section">
            <div class="user">
              <div class="user-icon">
                <img src="" alt="">
              </div>
              <div class="user-name">
                <span>Ramin</br>Qurbanov</span>
              </div>
            </div>
            <div class="share">
              <span>Dostunu dəvət et</span>
              <img src="../../static/olimpiad/img/share.png" alt="">
            </div>
          </div>
        </div>
        <!--//user section-->

        <!--Time section-->
        <div class="col-xs-6 col-sm-6 col-md-12 padd-0">
          <div class="time">
            <span>05:56</span>
          </div>
        </div>
        <!--//Time section-->

        <!--star section-->
        <div class="col-xs-6 col-sm-6 col-md-12 padd-0 clearfix">
          <div class="stars">
            {{#times 7}}
            <i class="fa fa-star star-small star-item star-yellow" aria-hidden="true"></i>
            {{/times}}
            <i class="fa fa-star star-big star-8 star-item" aria-hidden="true"></i>
            <i class="fa fa-star star-big star-9 star-item" aria-hidden="true"></i>
            <i class="fa fa-star star-big star-10 star-item" aria-hidden="true"></i>
          </div>
        </div>
        <!--//star section-->

        <!--history button-->
        <div class="col-md-12 history">
          <span>Tarixçə</span>
        </div>
        <!--//history button-->

        <!--date-point section-->
        <div class="col-md-12 date-point">
          <div class="col-md-4">
            <div class="date">HƏFTƏ</div>
            <div class="point"><h6>XAL</h6><h4>20</h4></div>
          </div>
          <div class="col-md-4">
            <div class="date">AY</div>
            <div class="point"><h6>XAL</h6><h4>200<h4></div>
          </div>
          <div class="col-md-4">
            <div class="date">YEKUN</div>
            <div class="point"><h6>XAL</h6><h4>450<h4></div>
          </div>
        </div>
        <!--//date-point section-->

        <!--audio section-->
        <div class="col-md-12 audio">
          <div class="col-md-9 padd-0">
            <div class="play col-md-12">
              <a role="button" class="audio-player-button play-button">
                <i class="fa fa-play" aria-hidden="true"></i>
              </a>
              <a role="button" class="audio-player-button pause-button">
                <i class="fa fa-pause" aria-hidden="true"></i>
              </a>
              <div class="drop"></div>
              <span id="song" song="le-calin.mp3"></span>
              <div class="volume">
                <span class="volume-progress-bar"></span>
              </div>
            </div>
          </div>
          <div class="col-md-3 padd-0">
            <div class="col-md-12 padd-0">
              <div class="mute">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
                <div class="mute-drop"></div>
              </div>
            </div>
          </div>
        </div>
        <!--//audio section-->
      </div>
      <!--==================//first column==================-->

      <!--===============middle column===============-->
      <div class="col-xs-12 col-sm-12 col-md-6">

       <!--help section-->
        <div class="col-xs-12 col-sm-12 col-md-12 help clearfix">
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="help-1 joker-item">
              <div class="help-circle">
                <img unselectable="on" class="joker-1" src="../../static/olimpiad/img/joker-icon-1.png" alt="">
              </div>
              <span>50:50</span>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="help-2 joker-item">
              <div class="help-circle">
                <img class="joker-2" src="../../static/olimpiad/img/joker-icon-2.png" alt="">
              </div>
              <span>Sualı dəyiş</span>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="help-3 joker-item">
              <div class="help-circle">
                <img class="joker-3" src="../../static/olimpiad/img/joker-icon-3.png" alt="">
              </div>
              <span>Cüt şans</span>
            </div>
          </div>
        </div>
        <!--//help section-->

        <!--question section-->
        <div class="col-xs-12 col-sm-12 col-md-12 clearfix">
          <div class="question">
            <div class="question-image">
              <img src="../../static/olimpiad/img/question-image.png" alt="">
            </div>
            <div class="question-text">
              <span>
                Hansı idmançımız 2016-cı il Rio Yay Olimpiya oyunlarında yeganə qızıl medalımızı qazanmışdır?
              </span>
            </div>
          </div>
        </div>
        <!--//question section-->

        <!--answers section-->
        <div class="col-md-12 answers clearfix">
          <div class="col-md-6">
            <div class="col-md-12 answer">
              <div class="variant">A)</div>
              <div class="answer-item">Munis Isayev</div>
            </div>
            <div class="col-md-12 answer">
              <div class="variant">B)</div>
              <div class="answer-item">Munis Isayev</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-12 answer">
              <div class="variant">C)</div>
              <div class="answer-item">Munis Isayev</div>
            </div>
            <div class="col-md-12 answer">
              <div class="variant">D)</div>
              <div class="answer-item">Munis Isayev</div>
            </div>
          </div>
        </div>
        <!--//answers section-->
      </div>
      <!--===============//middle column===============-->

      <!--==================right column==================-->
      <div class="col-xs-12 col-sm-12  col-md-3 right-section">

       <!--date-point section-->
        <div class="col-md-12 date-point">
          <div class="col-md-3 col-md-offset-3">
            <div class="date week">Həftə</div>
          </div>
          <div class="col-md-3">
            <div class="date month">Ay</div>
          </div>
          <div class="col-md-3">
            <div class="date result">Yekun</div>
          </div>
        </div>
        <!--//date-point section-->

        <!--ratings table-->
        <div class="col-md-12 ratings week-table">
         {{#times 10}}
          <div class="col-md-9 col-md-offset-3 leader">
              <span class="point-hov">255 - 36:12</span>
              <span>Əhməd Rəsul</span>
              <div class="rating-image">
                <img src="" alt="">
              </div>
          </div>
          {{/times}}
        </div>

        <div class="col-md-12 ratings month-table">
         {{#times 10}}
          <div class="col-md-9 col-md-offset-3 leader">
              <span class="point-hov">255 - 36:12</span>
              <span>Ismayil Rehimli</span>
              <div class="rating-image">
                <img src="" alt="">
              </div>
          </div>
          {{/times}}
        </div>

        <div class="col-md-12 ratings result-table">
         {{#times 10}}
          <div class="col-md-9 col-md-offset-3 leader">
              <span class="point-hov">255 - 36:12</span>
              <span>Munis Isazade</span>
              <div class="rating-image">
                <img src="" alt="">
              </div>
          </div>
          {{/times}}
        </div>
        <!--//ratings table-->

        <div class="col-md-12 exit">
          <div class="col-md-9 col-md-offset-3 exit-btn">
            <span>Oyundan çıxış</span>
          </div>
        </div>
      </div>
      <!--//==================right column==================-->
    </div>
  </div>
</section>