--- 
title: Winners
description: Olympiad Online Test 
---
<section class="home-main second-main winners-page">
  <div class="container-fluid">
    <div class="row">
		{{> header}}
    </div>


		<div class="winner-text jumbotron">
			<p>Qaliblər hər həftə sonunda burada yerləşdiriləcəkdir.</p>
		</div>


		<div class="gift-text jumbotron">
		  <p>
			  Qalibləri hər həftə son,</br>hər ay sonu və yekunda olmaqla</br>müxtəlif dəyərli hədiyyələr gözləyir
		  </p>
		</div>

  
	  <div class="play_btn_container">
		<div class="play-btn">
		  <a href="#">OYUNA BAŞLA</a>
		</div>
	  </div>
    <div class="social-section">
          <ul>
              <li>
                  <a href="">
                      <div class="facebook"></div>
                  </a>
              </li>
              <li>
                  <a href="">
                      <div class="twitter"></div>
                  </a>
              </li>
              <li>
                  <a href="">
                      <div class="instagram"></div>
                  </a>
              </li>
              <li>
                  <a href="">
                      <div class="youtube"></div>
                  </a>
              </li>
          </ul>
      </div>

  </div>
</section>
