<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="ol carousel-indicators hidden-xs">
        <span class="square"><li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li></span>
        <span class="square"><li data-target="#carousel-example-generic" data-slide-to="1"></li></span>
        <span class="square"><li data-target="#carousel-example-generic" data-slide-to="2"></li></span>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="img-responsive center-block" src="content/slider/img1.png" alt="...">
            <div class="filter"></div>
            <div class="carousel-caption">
               <div class="jumbotron">
                    <img class="center-block" src="content/img5.png">
                    <h3 class="text-uppercase text-center fonts-display-regular">The perfect theme for</h3>
                    <hr class="center-block">
                    <h1 class="text-center text-uppercase">Bahar</h1>
                    <p class="p-img center-block"><img src="content/img6.png"></p>
                    <p class="p-text fonts-display-regular">With WooCoomerce, it becomes easy to track your sales and incomes. No matter what you sell, it is so easy to do it with this plug-in.</p>
                    <p class="p-btn"><a class="btn btn-success btn-more btn-lg text-uppercase fonts-display-regular" href="#" role="button">More</a></p>
                    <p class="p-direction"><a href="#"><i class="fa fa-angle-down fa-3x fa-fw center-block"></i></a></p>
                </div>            
            </div>
        </div>
        <div class="item">
            <img class="img-responsive center-block" src="content/slider/img1.png" alt="...">
            <div class="filter"></div>
            <div class="carousel-caption">
                <div class="jumbotron">
                    <img class="center-block" src="content/img5.png">
                    <h3 class="text-uppercase text-center fonts-display-regular">The perfect theme for</h3>
                    <hr class="center-block">
                    <h1 class="text-center text-uppercase">Bahar</h1>
                    <p class="p-img center-block"><img src="content/img6.png"></p>
                    <p class="p-text fonts-display-regular">With WooCoomerce, it becomes easy to track your sales and incomes. No matter what you sell, it is so easy to do it with this plug-in.</p>
                    <p class="p-btn"><a class="btn btn-success btn-more btn-lg text-uppercase fonts-display-regular" href="#" role="button">More</a></p>
                    <p class="p-direction"><a href="#"><i class="fa fa-angle-down fa-3x fa-fw center-block"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</div>