<div class="media media-services">
    <div class="media-left">
        <img class="media-object" src="content/img8.png" alt="...">
    </div>
    <div class="media-body">
        <h4 class="media-heading text-uppercase fonts-display-medium">Web Design</h4>
        <p class="fonts-display-regular">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000.</p>
    </div>
</div>
<div class="media media-services">
    <div class="media-left">
        <img class="media-object" src="content/img9.png" alt="...">
    </div>
    <div class="media-body">
        <h4 class="media-heading text-uppercase fonts-display-medium">Web Development</h4>
        <p class="fonts-display-regular">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000.</p>
    </div>
</div>
<div class="media media-services">
    <div class="media-left">
        <img class="media-object" src="content/img10.png" alt="...">
    </div>
    <div class="media-body">
        <h4 class="media-heading text-uppercase fonts-display-medium">Branding</h4>
        <p class="fonts-display-regular">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000.</p>
    </div>
</div>
<div class="media media-services">
    <div class="media-left">
        <img class="media-object" src="content/img11.png" alt="...">
    </div>
    <div class="media-body">
        <h4 class="media-heading text-uppercase fonts-display-medium">Security</h4>
        <p class="fonts-display-regular">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000.</p>
    </div>
</div>