<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="img/bahar.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav menu navbar-right">
                <li class="text-uppercase fonts-display-regular"><a href="index.html">Home</a></li>
                <li class="dropdown text-uppercase fonts-display-regular">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Portfolio <span class="span"><i class="fa fa-angle-down fa-fw"></i> </span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">About us 1</a></li>
                        <li><a href="#">About us 2</a></li>
                        <li><a href="#">About us 3</a></li>
                        <li><a href="#">About us 4</a></li>
                        <li><a href="#">About us 5</a></li>
                    </ul>
                </li>
                <li class="dropdown text-uppercase fonts-display-regular">
                    <a href="about.html">About Us</a>
                </li>
                <li class="dropdown text-uppercase fonts-display-regular">
                    <a href="services.html">Services</a>
                </li>
                <li class="dropdown text-uppercase fonts-display-regular">
                    <a href="blog.html">Blog</a>

                </li>
                <li class="text-uppercase fonts-display-regular"><a href="contact.html">Contact</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>