
{% extends 'development/base/index.html' %}
{% load i18n %}
{% load static %}
{% block add-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cover.css' %}">
    {% endblock %}
{% block navbar %}

      {% endblock %}
{% block full-content %}
<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
                <h3 class="masthead-brand"><a href="{% url 'base:index' %}">Online Test</a></h3>
              <nav class="nav nav-masthead">
                <a class="nav-link" href="{% url 'base:index' %}">{% trans 'Ana səhifə' %}</a>
                <a class="nav-link" href="{% url 'base:about-us' %}">{% trans 'Haqqımızda' %}</a>
                <a class="nav-link active" href="#">{% trans 'Əlaqə' %}</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">{% trans 'Bizimlə əlaqə üçün' %}</h1>
            <p class="lead">{% trans 'Formu doldurun zəhmət olmasa' %}</p>
              <form id="form">
                  <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">{% trans 'Ad soyad' %}</label>
                         <div class="col-sm-9">
                            <input type="text" id="name" class="form-control">
                         </div>

                  </div>
              </form>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>&copy; Olimpiada {% now 'Y' %}</p>
            </div>
          </div>

        </div>

      </div>

    </div>
{% endblock %}
{% block footer %}
      {% endblock %}