{% extends "production/base/index.html" %}
{% load static %}
{% load base_filter %}
{% block container %}

    <div class="mobile-slide">

    <div class="slide-header">
	  <!--navbar-hamburger-->
      <button type="button" id="game-hamburger-close" class="navbar-hamburger">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--//navbar-hamburger-->
	</div>

	<div class="date-point">
	  <div class="col-md-4">
		<div class="date">HƏFTƏ</div>
		<div class="point"><h6>XAL</h6><h4>{{ request.user.point_week }}</h4></div>
	  </div>
	  <div class="col-md-4">
		<div class="date">AY</div>
		<div class="point"><h6>XAL</h6><h4>{{ request.user.point_month }}</h4></div>
	  </div>
	  <div class="col-md-4">
		<div class="date">YEKUN</div>
		<div class="point"><h6>XAL</h6><h4>{{ request.user.point }}</h4></div>
	  </div>
	</div>

	<!--history button-->
	<div class="history">
	  <span>Tarixçə</span>
	</div>
	<!--//history button-->

	<!--audio section-->
	<div class="audio">
	  <div>
		<div class="play">
		  <a role="button" class="audio-player-button play-button">
			<i class="fa fa-play" aria-hidden="true"></i>
		  </a>
		  <a role="button" class="audio-player-button pause-button">
			<i class="fa fa-pause" aria-hidden="true"></i>
		  </a>
		  <div class="drop"></div>
			<audio id="mobile-song"  src="{% static 'olimpiad/mp3/1.mp3' %}" ></audio>
			<div class="volume">
				<span class="volume-progress-bar"></span>
		  </div>
		</div>
	  </div>
	  <div>
		<div>
		  <div class="mute">
			<i class="fa fa-volume-up" aria-hidden="true"></i>
			<div class="mute-drop"></div>
		  </div>
		</div>
	  </div>
	</div>
	<!--//audio section-->
</div>

    <section class="main {% block no-music %}music-start{% endblock %} {% block auto-play %} auto-start {% endblock %} {% block main-class %}in-game{% endblock %}" {% block safe-exit %}id="game"{% endblock %}>
    {% block overlay %}
        <div class="overlay must_be_hide">
           <div class="result_container col-xs-12">
               <div class="title pull-right">
                   <p>Oyunun başlamağına <span class="start_count">3</span> saniyə qaldı</p>
               </div>
               <img src="/static/olimpiad/img/results_{{ start_time|random }}.png" alt="" class="img-responsive">
                <div class="main-result">
                   <div><span class="start_count font-big-size">3</span></div>
               </div>
           </div>

   </div>
        {% endblock %}
  <div class="container-fluid">
    <div class="row layout">
      <!--navbar-hamburger-->
      <button type="button" id="game-hamburger-btn" class="navbar-hamburger">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--//navbar-hamburger-->
      <!--==================first column==================-->
      <div class="col-xs-12 col-sm-12 col-md-3 left-side">
        <!-- user section-->
        {% block user-section %}
        <div class="col-xs-6 col-sm-6 col-md-12 padd-0">
          <div class="user-section">
            <div class="user">
              <div class="user-icon">
                  <img class="img-responsive" src="http://graph.facebook.com/{{ request.user.social_auth|get_uuid }}/picture?width=150&height=150" alt="">
               </div>
              <div class="user-name">
                <span>{{ request.user.first_name }}<br/>{{ request.user.last_name }}</span>
              </div>
            </div>
            <div class="share share-section">
              <a class="tooltips" href="#">
              	<i class="fa fa-info-circle" aria-hidden="true"></i>
				 <span><div>Dostlarını dəvət et</div></br>1. Əlavə oyun haqqı qazanmaq üçün 5 dostunu dəvət et.</br></br>2. Dostlarını mobildən tag edərək, desktopdan isə mesaj göndərərək dəvət edə bilərsən.</br></br>3. Əlavə oyun haqqı hər bir istifadəçiyə gün ərzində yalnız 1 dəfə verilir.</span>
              </a>
              <img class="img-fb-icon" src="{% static 'olimpiad/img/fb_add.svg' %}" alt="">
            </div>
          </div>
        </div>
        {% endblock %}
        <!--//user section-->
        {% block time-star %}
        <!--Time section-->
        <div class="col-xs-6 col-sm-6 col-md-12 padd-0">
          <div class="time">
            <span id="time">00:00</span>
          </div>
        </div>
        <!--//Time section-->

        <!--star section-->
        <div class="col-xs-6 col-sm-6 col-md-12 padd-0 clearfix">
          <div class="stars">
            <i class="fa fa-star star-small star-item star-yellow" aria-hidden="true"></i>
            <i class="fa fa-star star-small star-item " aria-hidden="true"></i>
            <i class="fa fa-star star-small star-item " aria-hidden="true"></i>
            <i class="fa fa-star star-small star-item " aria-hidden="true"></i>
            <i class="fa fa-star star-small star-item " aria-hidden="true"></i>
            <i class="fa fa-star star-small star-item " aria-hidden="true"></i>
            <i class="fa fa-star star-small star-item " aria-hidden="true"></i>
            <i class="fa fa-star star-big star-8 star-item" aria-hidden="true"></i>
            <i class="fa fa-star star-big star-9 star-item" aria-hidden="true"></i>
            <i class="fa fa-star star-big star-10 star-item" aria-hidden="true"></i>
          </div>
        </div>
        <!--//star section-->
        {% endblock %}
        <!--history button-->
        <div class="col-md-12 history">
          <span>Tarixçə</span>
        </div>
        <!--//history button-->

        <!--date-point section-->
        {% block date-point %}
        <div class="col-md-12 date-point">
          <div class="col-md-4">
            <div class="date">HƏFTƏ</div>
            <div class="point"><h6>XAL</h6><h4>{{ request.user.point_week }}</h4></div>
          </div>
          <div class="col-md-4">
            <div class="date">AY</div>
            <div class="point"><h6>XAL</h6><h4>{{ request.user.point_month }}<h4></div>
          </div>
          <div class="col-md-4">
            <div class="date">YEKUN</div>
            <div class="point"><h6>XAL</h6><h4>{{ request.user.point }}<h4></div>
          </div>
        </div>
            {% endblock %}
        <!--//date-point section-->

        <!--audio section-->
        <div class="col-md-12 audio">
          <div class="col-md-9 padd-0">
            <div class="play col-md-12">
              <a role="button" class="audio-player-button play-button">
                <i class="fa fa-play" aria-hidden="true"></i>
              </a>
              <a role="button" class="audio-player-button pause-button">
                <i class="fa fa-pause" aria-hidden="true"></i>
              </a>
              <div class="drop"></div>
              <audio id="web-song" src="{% static 'olimpiad/mp3/1.mp3' %}"></audio>
              <div class="volume">
                <span class="volume-progress-bar"></span>
              </div>
            </div>
          </div>
          <div class="col-md-3 padd-0">
            <div class="col-md-12 padd-0">
              <div class="mute">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
                <div class="mute-drop"></div>
              </div>
            </div>
          </div>
        </div>
        <!--//audio section-->
      </div>
      <!--==================//first column==================-->
      {% block middle-section %}
      <!--===============middle column===============-->
      <div class="col-xs-12 col-sm-12 col-md-6">

       <!--help section-->
        <div class="col-xs-12 col-sm-12 col-md-12 help clearfix">
          <div class="col-xs-4 col-sm-4 col-md-4">
              <div class="help-1 joker-item">
              <div class="help-circle">
                <img unselectable="on" class="joker-1" src="{% static 'olimpiad/img/joker-icon-1.png' %}" alt="">
              </div>
              <span>50:50</span>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="help-2 joker-item">
              <div class="help-circle">
                <img class="joker-2" src="{% static 'olimpiad/img/joker-icon-2.png' %}" alt="">
              </div>
              <span>Sualı dəyiş</span>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="help-3 joker-item">
              <div class="help-circle">
                <img class="joker-3" src="{% static 'olimpiad/img/joker-icon-3.png' %}" alt="">
              </div>
              <span>Cüt şans</span>
            </div>
          </div>
        </div>
        <!--//help section-->
         <!-- tab section -->
          <ul class="nav nav-tabs" role="tablist" hidden>
            {% for x in questions %}
                <li class="nav-item">
                    <a class="nav-link next-{{ forloop.counter }} {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#question-{{ forloop.counter }}" role="tab">Sual {{ forloop.counter }}</a>
                </li>
            {% endfor %}
        </ul>
          <input type="hidden" name="game_id_list" id="game-id-list" value='[{% for y in questions %}"{{ y.id }}"{% if forloop.last %}{% else %},{% endif %}{% endfor %}]'>
          <!--// tab section -->
          <div class="tab-content">
          {% for question in questions %}
              <div class="tab-pane {% if forloop.first %}active{% endif %}" data-id="{{ question.id }}" data-count="{{ forloop.counter }}" id="question-{{ forloop.counter }}" role="tabpanel">
            <!--question section-->
            <div id="base-question-{{ question.id }}" data-count="{{ forloop.counter }}" class="col-xs-12 col-sm-12 col-md-12 clearfix">
              <div class="question">
                  {% if question.image %}
                <div class="question-image">
                  <img class="img-responsive" src="/media/{{ question.image }}" alt="">
                </div>
                  {% endif %}
                <div class="question-text">
                  <span>
                    {{ question.question }}
                  </span>
                </div>
              </div>
            </div>
            <!--//question section-->

            <!--answers section-->
            <div class="col-md-12 answers clearfix">


              <div class="col-md-6">
                {% for answer in question.get_answer %}
                <div class="col-md-12 answer answer-questions" data-number="{{ forloop.counter }}" data-question-id="{{ question.id }}" data-name-id="#base-question-{{ question.id }}" data-answer-id="{{ answer.id }}">
                    <div class="variant">{{ abc|count:forloop.counter0 }})</div>
                    <div class="answer-item">{{ answer.answer }}</div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                  </div>
                  <div class="col-md-6">
                {% endif %}
                {% endfor %}
              </div>
            </div>
            <!--//answers section-->
              </div>
          {% endfor %}
          </div>
      </div>
      <!--===============//middle column===============-->
      {% endblock %}
      <!--==================right column==================-->
      <div class="col-xs-12 col-sm-12  col-md-3 right-section">

       <!--date-point section-->
        <div class="col-md-12 date-point">
          <div class="col-md-3 col-md-offset-3">
            <div class="date week hist-active">Həftə</div>
          </div>
          <div class="col-md-3">
            <div class="date month">Ay</div>
          </div>
          <div class="col-md-3">
            <div class="date result">Yekun</div>
          </div>
        </div>
        <!--//date-point section-->

        <!--ratings table-->
        <div class="col-md-12 ratings week-table">
          {% if weeks_winner %}
            {% for winner in weeks_winner %}
          <div class="col-md-9 col-md-offset-3 leader">
              <span class="point-hov">{{ winner.answer_count }} - {{ winner.duration | parse_duration }}</span>
              <span>{{ winner.user.get_full_name }}</span>
              <div class="rating-image">
                <img class="img-responsive" src="http://graph.facebook.com/{{ winner.user.social_auth|get_uuid }}/picture?type=square" alt="">
              </div>
          </div>
            {% endfor %}
        {% endif %}
        </div>

        <div class="col-md-12 ratings month-table">

            {% for winner in months_winner %}
          <div class="col-md-9 col-md-offset-3 leader">
              <span class="point-hov">{{ winner.answer_count }} - {{ winner.duration | parse_duration }}</span>
              <span>{{ winner.user.get_full_name }}</span>
              <div class="rating-image">
                <img class="img-responsive" src="http://graph.facebook.com/{{ winner.user.social_auth|get_uuid }}/picture?type=square" alt="">
              </div>
          </div>
            {% endfor %}

        </div>

        <div class="col-md-12 ratings result-table">
          {% if winners %}
            {% for winner in winners %}
          <div class="col-md-9 col-md-offset-3 leader">
              <span class="point-hov">{{ winner.answer_count }} - {{ winner.duration | parse_duration }}</span>
              <span>{{ winner.user.get_full_name }}</span>
              <div class="rating-image">
                <img class="img-responsive" src="http://graph.facebook.com/{{ winner.user.social_auth|get_uuid }}/picture?type=square" alt="">
              </div>
          </div>
            {% endfor %}
        {% endif %}
        </div>
        <!--//ratings table-->
        {% block exit-game %}
        <div class="col-md-12 exit">
          <div class="col-md-9 col-md-offset-3 exit-btn">
            <span>Oyundan çıxış</span>
          </div>
        </div>
            {% endblock %}
      </div>
      <!--//==================right column==================-->
    </div>
  </div>
</section>

{% endblock %}